# Ejercicios de Funciones en PySpark

In [ ]:
# Configuración de entorno
!wget -q https://apache.osuosl.org/spark/spark-3.5.4/spark-3.5.4-bin-hadoop3.tgz
!tar xf spark-3.5.4-bin-hadoop3.tgz
!pip install -q findspark pyspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.4-bin-hadoop3"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

# Creación del DataFrame de ejemplo
emp = [(1, "AAA", "dept1", 1000),
       (2, "BBB", "dept1", 1100),
       (3, "CCC", "dept1", 3000),
       (4, "DDD", "dept1", 5500),
       (5, "EEE", "dept2", 8000),
       (6, "FFF", "dept2", 9200),
       (7, "GGG", "dept3", 1100),
       (None, None, None, 5500),
       (9, "III", None, 3500),
       (10, None, "dept5", 2500)]

df = spark.createDataFrame(emp, ["id", "name", "dept", "salary"])

## Ejercicio 1: UDF con manejo de nulos
Crea una UDF que clasifique los salarios igual que en el ejemplo visto, pero devuelva 'invalid_salary' si el nombre es nulo. Agrega esta nueva columna al DataFrame.

## Ejercicio 2: Expresión SQL compleja
**Enunciado:** Usando `expr`, crea una columna que muestre:
- 'valid' si el departamento existe y el salario > 2000
- 'invalid' en cualquier otro caso.

## Ejercicio 3: Combinación de operaciones NULL
**Enunciado:** Crea un nuevo DataFrame que:
1. Rellene los valores nulos en 'dept' con 'no_dept'
2. Elimine filas donde tanto 'id' como 'name' son nulos.

## Ejercicio 4: UDF con múltiples condiciones
**Enunciado:** Crea una UDF que devuelva:
- 'executive' si el salario > 7000 y el departamento es 'dept2'
- 'manager' si el salario está entre 3000-7000
- 'staff' en otros casos válidos.

## Ejercicio 5: Optimización con particiones
**Enunciado:**
1. Crea un RDD con 10 millones de elementos (números aleatorios 1-100)
2. Particiónalo en 4 splits
3. Filtra números > 50 y cuenta cuántos quedan usando una acción.