# Ejercicio 2 - RDD's

Utiliza Spark Context y Parallelize

In [ ]:
import pandas as pd

# Cargar el dataset desde CSV
file_path = "/content/sample_data/california_housing_test.csv"

# Cargar el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

# Convertir todas las columnas numéricas a float
for col in df.columns:
    try:
        df[col] = df[col].astype(float)
    except ValueError:
        print(f"La columna '{col}' no se pudo convertir a float (posiblemente contiene texto).")

# Mostrar las primeras filas del DataFrame convertido
print(df.head())

# (Opcional) Guardar el archivo convertido
df.to_csv(file_path, index=False)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [ ]:
from pyspark import SparkContext

# Crear un contexto de Spark
sc = SparkContext.getOrCreate()

# Cargar el archivo en un RDD
rdd = sc.textFile(file_path)

# Obtener encabezados y eliminar la primera línea (cabecera)
header = rdd.first()
rdd = rdd.filter(lambda line: line != header).map(lambda line: line.split(","))

# Mostrar estructura del RDD
rdd.take(3)

[['-122.05',
  '37.37',
  '27.0',
  '3885.0',
  '661.0',
  '1537.0',
  '606.0',
  '6.6085',
  '344700.0'],
 ['-118.3',
  '34.26',
  '43.0',
  '1510.0',
  '310.0',
  '809.0',
  '277.0',
  '3.599',
  '176500.0'],
 ['-117.81',
  '33.78',
  '27.0',
  '3589.0',
  '507.0',
  '1484.0',
  '495.0',
  '5.7934',
  '270500.0']]

1. Filtra todas las casas donde el precio medio (median_house_value) sea superior a 300,000 dólares y la población (population) sea mayor a 1,000 personas.

**Resultado esperado**: Un RDD con las filas que cumplen ambas condiciones.

2. Calcula el precio por habitación (median_house_value / total_rooms) y normaliza los valores dividiéndolos entre su máximo valor.

**Resultado esperado**: Un RDD con una nueva columna price_per_room, donde los valores están normalizados.

3. Clasifica las viviendas en “bajo”, “medio” y “alto” en función de su median_house_value, donde:

	* “bajo” si el valor está por debajo de 100,000,
	* “medio” si está entre 100,000 y 400,000,
	* “alto” si está por encima de 400,000.

**Resultado esperado**: Un RDD con una nueva columna de categorías de precio.

4. Encuentra la fila con el mayor valor de median_house_value.

**Resultado esperado**: La fila con el precio más alto de vivienda.

In [1]:
most_expensive_house = rdd.max(lambda row: row[8])

most_expensive_house

NameError: name 'rdd' is not defined